<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{heading}}</h1>
    <form action="" method="post">
        {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Submit</button>
</form>
    <table border="1">

        <tr>
            <td>name</td>
            <td>description</td>
            <td>industry</td>
            <td>phoneno</td>
            <td>est_date</td>
            <td>address</td>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{x.name}}</td>
            <td>{{x.description}}</td>
            <td>{{x.industry}}</td>
            <td>{{x.phoneno}}</td>
            <td>{{x.est_date}}</td>
            <td>{{x.address}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>